@page
@model CompareModel
@{
    ViewData["Title"] = "Compare";
}

<h2 class="display-6 mb-3">@ViewData["Title"]</h2>

<p class="lead mb-3">Run the same search query through all the preconfigured scenarios, and compare their results at once.</p>

<form method="post" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control border-primary" placeholder="Search or ask anything" name="query" />
        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-send"></i> Send</button>
    </div>
</form>

@if (Model.SearchResponses != null && Model.SearchResponses.Any())
{
    var selectedSearchResponse = Model.SearchResponses.First();
    <h3 class="mb-3">Search results for <code>@Model.Query</code></h3>
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var searchResponse in Model.SearchResponses)
        {
            var cssClass = searchResponse == selectedSearchResponse ? "active" : "";
            <li class="nav-item" role="presentation">
                <button class="nav-link @cssClass" id="@searchResponse.Id-tab" data-bs-toggle="tab" data-bs-target="#@searchResponse.Id-tab-pane" type="button" role="tab" aria-controls="@searchResponse.Id-tab-pane" aria-selected="true">@searchResponse.DisplayName</button>
            </li>
        }
    </ul>
    <div class="tab-content">
        @foreach (var searchResponse in Model.SearchResponses)
        {
            var cssClass = searchResponse == selectedSearchResponse ? "show active" : "";
            <div class="tab-pane fade @cssClass" id="@searchResponse.Id-tab-pane" role="tabpanel" aria-labelledby="@searchResponse.Id-tab" tabindex="0">

                @if (!string.IsNullOrWhiteSpace(searchResponse.Description))
                {
                    <div class="alert alert-primary my-2">@searchResponse.Description</div>
                }

                <partial name="_SearchResponse" model="searchResponse" />

            </div>
        }
    </div>
}