@page
@model CompareModel
@{
    ViewData["Title"] = "Compare";
}

<h2 class="display-6 mb-3">Compare</h2>

<form method="post" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control border-primary" placeholder="Search or ask anything" name="query" />
        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-send"></i> Send</button>
    </div>
</form>

@if (Model.SearchResponses != null && Model.SearchResponses.Any())
{
    var selectedSearchResponse = Model.SearchResponses.First();
    <ul class="nav nav-tabs" role="tablist">
        @foreach (var searchResponse in Model.SearchResponses)
        {
            var cssClass = searchResponse == selectedSearchResponse ? "active" : "";
            <li class="nav-item" role="presentation">
                <button class="nav-link @cssClass" id="@searchResponse.RequestId-tab" data-bs-toggle="tab" data-bs-target="#@searchResponse.RequestId-tab-pane" type="button" role="tab" aria-controls="@searchResponse.RequestId-tab-pane" aria-selected="true">@searchResponse.DisplayName</button>
            </li>
        }
    </ul>
    <div class="tab-content">
        @foreach (var searchResponse in Model.SearchResponses)
        {
            var cssClass = searchResponse == selectedSearchResponse ? "show active" : "";
            <div class="tab-pane fade @cssClass" id="@searchResponse.RequestId-tab-pane" role="tabpanel" aria-labelledby="@searchResponse.RequestId-tab" tabindex="0">

                <partial name="_SearchResponse" model="searchResponse" />
                
            </div>
        }
    </div>
}